  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light {{ layoutNavigationTop?'content-wrapper-left': ''}}" style="padding-right:30px; display: flex; justify-content: space-between;">
    <!-- Left navbar links -->
    <ul class="navbar-nav" style="padding-left: 1.5rem;">
      <!-- <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
      </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link user-dropdown" data-toggle="dropdown" href="#">
          {{ this.authenticated.user.name }}
          <i class="icon-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: -100px; border-radius: 3px;padding: 0;">
          <span class="dropdown-item dropdown-header" style="background: #22283a;color: #dad7d7;padding: 25px 20px;">
            <div class="image"><img class="image-user" src="../../../../assets/img/avatar5.png"></div>

          </span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            {{ this.authenticated.user.name }}
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="icon-user mr-2"></i> Meu Perfil
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fa fa-cog mr-2"></i> Definição
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item" data-toggle="modal" data-target="#modalRegistarRedefinirPasswordUserLogado">
            <i class="icon-note mr-2"></i> Alterar Password
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fa fa-folder mr-2"></i> Actividades
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item" style="background: #ecf0f5;" data-slide="true" (click)="this.authenticated.logout()">
            <i class="icon-login mr-2" ></i> Terminar Sessão
          </a>
        </div>
      </li>

    </ul>

    <!-- SEARCH FORM -->
 

    <!-- Right navbar links -->
    <ul class="" *ngIf="this.authenticated.isLoggedIn">

      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link nav-header" data-toggle="dropdown" href="#">
          <i class="icon-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: -100px; border-radius: 3px;padding: 0;">
          <span class="dropdown-item dropdown-header" style="background: #22283a;color: #dad7d7;padding: 25px 20px;">
            <div class="image"><img class="image-user" src="../../../../assets/img/avatar5.png"></div>

          </span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            {{ this.authenticated.user.name }}
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="icon-user mr-2"></i> Meu Perfil
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fa fa-cog mr-2"></i> Definição
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item" data-toggle="modal" data-target="#modalRegistarRedefinirPasswordUserLogado">
            <i class="icon-note mr-2"></i> Alterar Password
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fa fa-folder mr-2"></i> Actividades
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item" style="background: #ecf0f5;" data-slide="true" (click)="this.authenticated.logout()">
            <i class="icon-login mr-2" ></i> Terminar Sessão
          </a>
        </div>
      </li>
      <li class="">
        <button>Adicionar novo Stock<i class="fa-solid fa-circle-plus ml-2"></i></button>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->
