.main-header, .btn-info {
  background-color: var(--app-main-color) !important;
}
.nav-sidebar > .nav-item .nav-icon, .sidebar-dark-info .nav-sidebar>
.nav-item>.nav-link.active, .sidebar-light-info .nav-sidebar>.nav-item>.nav-link.active, .user-panel, .table > thead,
.sidebar-dark-info .nav-treeview>.nav-item>.nav-link.active, .sidebar-dark-info .nav-treeview>.nav-item>.nav-link.active:hover
{
  background-color: var(--app-main-color) !important;
}

.sidebar-dark-info .nav-treeview>.nav-item>.nav-link:hover {
  color: #fff;
  background: var(--app-main-color);
}

.nav-sidebar>.nav-item .nav-icon {
  border: 1px solid var(--app-main-color);
}

.sidebar-dark-info .nav-sidebar > .nav-item.menu-open > .nav-link,
.sidebar-dark-info .nav-sidebar > .nav-item:hover > .nav-link,
[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus
, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover
{
  color: #fff;
  background-color: #036DA8 !important;
}

.sidebar::-webkit-scrollbar-track {
  background-color: var(--app-main-color)
}
.sidebar::-webkit-scrollbar {
  width: 8px;
  background: var(--app-main-color)
}
.sidebar::-webkit-scrollbar-thumb {
  background: var(--app-main-color)
}


.layout-fixed .main-sidebar {
  border-right: 1px solid #036DA8;
}

.main-footer {
  width: 100%;
  bottom: 0;
  padding: 28px;
  background: url(/assets/img/logo_at_unig_itgest.png) var(--app-main-color) 50% 31% no-repeat padding-box !important;
  background-size: 9% !important;
}

.filter-color{
  color: #fff !important;
}

.filter-color-search:hover{
  color: #fff;
  background-color: var(--app-main-color);
}

.filter-color-button{
  color: #fff !important;
  background-color: var(--app-main-color);
  border: 1px solid var(--app-main-color);
}

.filter-color-button:hover {
  color: #fff;
  background-color: var(--app-main-color);
  border-color: var(--app-main-color);
}

.mat-raised-button.mat-button-disabled.mat-button-disabled{
  color: #fff !important;
}
.subtitleColor > h4{
  background: #f2f4f6;
  color: #036DA8;
  border: 1px solid var(--app-main-color);
  margin-bottom: 0px;
}

.bgDarkSection {
  background-color: #343a40!important;
}

.cabecTableColor > thead > tr > th{
  color: #fff !important;
  background-color: var(--app-main-color) !important;
}

.cabecTableSecundaryColor{
  color: #fff !important;
  background-color: #036DA8 !important;
}

.cabecTableColor2 > tbody > tr > th{
  color: #fff !important;
  background-color: var(--app-main-color) !important;
}

.cabecTableColor4 > tr{
  color: #fff !important;
  background-color: var(--app-main-color) !important;
}

.cabecTableColor3 > th{
  color: #fff !important;
  background-color: var(--app-main-color) !important;
}

.colorTabSection{
  background-color: var(--app-main-color) !important;
  color: #fff !important;
}

.colorTabSectionSecundary{
  background-color: #7e7979 !important;
  color: #fff !important;
}

.subtitleColor2{
  background: #eeeeee;
  color: #000000;
  padding: 9px 22px;
  border: 1px solid var(--app-main-color);
  border-radius: 4px;
}

.subtitleColor3{
  background: var(--app-main-color);
  color: #fff;
  padding: 9px 22px;
  border: 1px solid var(--app-main-color);
  border-radius: 4px;
}

.borderDiv > h4{
  background: #eee;
  padding: 12px 9px;
  border: 1px solid var(--app-main-color) !important;
  border-radius: 4px;
  text-align: center;
  font-size: 21px;
}

.infoAmbiente > h1{
  padding: 20px;
  background: #fff;
  text-align: center;
  font-size: 71px;
  margin-bottom: 40px;
  color: var(--app-main-color);
}

.labelInfo{
  padding: 8px;
  border-radius: 4px;
  font-size: 18px;
  border: 1px solid var(--app-main-color) !important;
}

.infoSaldo > h3{
  background: #eee; 
  padding: 22px; 
  border: 1px solid var(--app-main-color);  
  border-radius:4px;
}
/*
 * Cor do button radius
 */
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--app-main-color) !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color: var(--app-main-color) !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple{
  background-color: var(--app-main-color) !important;
}

h4.label {
  color: #fff;
  background-color: var(--app-main-color) !important;
}

.text-color{
  color: var(--app-main-color);
}

.boxDiv{
  color: #fff; 
  border-radius: 5px;
  background-color: var(--app-main-color) !important;
  padding: 8px;
}

.dividerLine{
  border-left: 2px solid var(--app-main-color);
}

.reportingResumeTable{
  color: #fff;
  background-color: var(--app-main-color) !important;
  padding: 10px;
}

.borderColorResumeReporting{
  color: var(--app-main-color) !important; 
  font-size: 40px
}

.table-header{
  background-color: #036DA8 !important;
}

/*icon color from comentary*/
.bg-red {
  background-color: var(--app-main-color)!important;
}