<div class="dashboard">
  <h2 class="dashboard_title">Dashboard</h2>
  <div class="dashboard_item_container">
    <div class="box_item"></div>
    <div class="box_item"></div>
    <div class="box_item"></div>
    <div class="box_item"></div>
  </div>
  <div class="dashboard_container">
    <h2 class="dashboard_title" style="margin-top: 2rem;">Estatística</h2>
    <div class="wrapper">
      <div class="box_item">
        <grafico-bar-chart></grafico-bar-chart>
      </div>
      <div class="box_item" style="background-color: #022213;"></div>
      <div class="box_item">
        <grafico-pie-chart></grafico-pie-chart>
      </div>
    </div>
  </div>
</div>